html {
    background-color: #498e4a;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 1000px; /* Limite de largura máxima */
}

#game-canvas {
    border: 5px #0044ff dotted;
    display: block;
    margin: 0 auto;
    width: 100%; /* Largura máxima */
    height: auto; /* Mantém a proporção */
}

#controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: rgba(33, 171, 130, 0.8);
    border-radius: 10px;
    padding: 10px;
}

#points-container {
    background-color: azure;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#pointsIcon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

#upgrade-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: aquamarine;
    width: fit-content;
    border-radius: 1rem;
    margin-left: 4rem;
}

#upgrade-button:hover {
    cursor: pointer;
    background-color: #57c1e1;
}

#upgrade-button:active {
    background-color: rgb(26, 79, 136);
}

@media (max-width: 768px) {
    #controls {
        width: 80%;
    }

    #pointsIcon {
        width: 40px;
        height: 40px;
    }

    #upgrade-button {
        margin-left: 1rem;
        padding: 8px 16px;
        font-size: 14px;
    }
}